<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title>欢迎来到SC!</title>
     <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../css/Teacher/layout_home.css">
    <script src="../../js/Teacher/home.js"></script>
    <script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
    <!--此处还可插入其他meta、样式单等信息-->
</head>

<body>
    <div id="home_head">
        <a href="Information.html" style="text-decoration: none;">
            <p id="home_head_name" th:text="${t}"></p>
        </a>
    </div>
    <div>
        <ul class="lable_ul">
            <li class="lable_li"><img src="../../images/logo.png" height="50px" style="padding: 2px;"></li>
<!--            <li class="lable_li"><a class="lable" href="Teacher/Home.html">主页</a></li>-->
<!--            <li class="lable_li"><a class="lable" href="Teacher/Course.html">课程</a></li>-->
<!--            <li class="lable_li"><a class="lable" href="Teacher/Classroom.html">教室</a></li>-->
<!--            <li class="lable_li"><a class="lable" href="Teacher/Project.html">项目</a></li>-->
            <li class="lable_li"><a  class="lable" th:href="${t_home}">主页</a></li>
            <li class="lable_li"><a class="lable" th:href="${t_course}">课程</a></li>
            <li class="lable_li"><a class="lable" th:href="${t_Classroom}">教室资源</a></li>
            <li class="lable_li"><a class="lable" th:href="${t_Project}">项目管理</a></li>
        </ul>
    </div>
    <hr>

    <div style="width: 100%;">
        <img src="../../images/home_display.jpg" style="width: 100%;" />
    </div>
    <div style="padding-top: 15px; width: 100%;">
        <div id="home_schedule" style="width: 34%;">
            <div>
                <fieldset style="width: 100%;">
                    <legend style="font-size: 20px;padding-bottom: 2px;"><b>Today's Schedule</b></legend>
                    <table id="home_table_schedule" style="width: 100%;text-align: center; border-collapse:collapse;" border="2">
                        <tr>
                            <th>NO</th>
                            <th>Lecture</th>
                            <th>Time</th>
                            <th>Room</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                    </table>
                </fieldset>
            </div>

            <div style="padding-top: 15px;">
                <fieldset style="width: 100%; ">
                    <legend style="font-size: 20px;padding-bottom: 2px;"><b>Course Message</b></legend>
                    <table id="home_table_course" style="width: 100%;text-align: center;" border="1">
                        <tr>
                            <th>NO</th>
                            <th>Lecture</th>
                            <th>Time</th>
                            <th>Room</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="home_news" style="width: 60%; padding-left: 4%;">
            <fieldset style="width: 100%;">
                <legend style="font-size: 20px;padding-bottom: 2px;"><b>Today's News</b></legend>
                <div style="float: left; padding:5px ;width: 100%;">
                    <img src="../../images/zy_center.png" height="150px" style="float: left;">
                    <div style="padding-left: 8px; float: left; line-height: 15px;">
                        <p style="font-size: 20px;">College News</p>
                        <p>ssssss College News</p>
                    </div>
                </div>
                <div style="float: left; padding:5px ;width: 100%;">
                    <img src="../../images/zy_center.png" height="150px" style="float: left;">
                    <div style="padding-left: 8px; float: left; line-height: 15px;">
                        <p style="font-size: 20px;">College News</p>
                        <p>ssssss College News</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</body>

</html>