<!DOCTYPE>
<html  html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>已选课程列表</title>
    <meta content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="../../css/Teacher/layout_home.css">
    <script type="text/javascript" src="../../js/selected_classroom.js"></script>
    <script type="text/javascript" src="../../js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--此处还可插入其他meta、样式单等信息-->
</head>
<style>
    td{width: 1%;height: 30px;font-size: 0.6em;font-weight:bold;}
</style>
<script>
    window.onload=function () {

        var select=$("#year");
        var json= {Id: $.getUrlParam("id"), type: $.getUrlParam("type")};
        $.ajax({

            type: "post",
            url: "/student/home/time",
            data: JSON.stringify(json),
            dataType: "json",
            contentType: "application/json",
            success: function (data_1, status) {
                //追加下拉框
                for (var j = 0; j < data_1.data.length; j++) {
                    //排序，从降序
                    //alert(data_1[j].year);
                    select.append("<option style='font-size: 1em' value=" + j + ">" + data_1.data[j].year + "/" + data_1.data[j].time + "</option>");
                }//选择下拉框
                select.val(0);
            }
        });

        var json= {id: $.getUrlParam("id"), type: $.getUrlParam("type")};
        $.ajax({
            type: "post",
            url: "/Classroom/load/selected/classroom",
            data: JSON.stringify(json),
            dataType: "json",
            contentType: "application/json",
            success: function (data, status) {
                console.log(data.data);
                auto_create_table_selected_classroom(data.data);
            }
        });

    }
</script>
<body>
<div id="c" class="">
    <div id="head">
        <div id="home_head">
            <ul class="">
                <li><a id="home_head_name" th:text="${t}"></a></li>
                <li><a id="logout" href="/login">登出</a></li>
            </ul>
        </div>
        <div>
            <ul class="lable_ul">
                <li class="lable_li"><img src="../../images/logo1.png" height="40px" style="padding: 2px;margin-left:10px;"></li>
                <li class="lable_li"><a  class="lable" th:href="${t_home}">主页</a></li>
                <li class="lable_li"><a class="lable" th:href="${t_course}">课程</a></li>
                <li class="lable_li"><a class="lable" th:href="${t_Classroom}">教室资源</a></li>
                <li class="lable_li"><a class="lable" th:href="${t_Project}">项目管理</a></li>
            </ul>
        </div>
    </div>
    <hr>


    <div id="l"  class="">
        <div id="l_1"  class="">
            <div id="l_1_1" class="">
                &nbsp
                <b id="l_1_1_1">Welcome,Tom </b>
            </div>
            <div id="l_1_2" class="">
                &nbsp
                <b id="l_1_2_1">Service</b> <hr>
                <u id="l_1_2_2">
                    <li > <a class="l_select"  th:href="${t_Classroom}" >教室占用情况</a></li> <hr>
                    <li ><a class="l_select"  th:href="${t_SelectedCourse}">已申请教室</a></li> <hr>
                </u>
            </div>
        </div>
    </div>
    <div id="r"  class="">
        <div id="r_1"  class="">
            <div id="r_1_1" class="">
                &nbsp
                <b id="r_1_1_1">教室占用信息</b>

            </div>
            <div id="r_1_2" class="">
                <b class="time" >已申请教室</b>
            </div>
            <div id="r_1_3" class="">

                <table  id="senfe";width="100%"  border="1"  cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                    <thead>
                    <tr >
                        <td class="t_row_1">教室</td>
                        <td class="t_row_1"  >申请时间</td>
                        <td class="t_row_1">开始时间</td>
                        <td class="t_row_1" >结束时间</td>
                        <td class="t_row_1" >申请人</td>
                        <td class="t_row_1"  >申请原因</td>
                        <td class="t_row_1"  >申请状态</td>
                        <td class="t_row_1"  >操作</td>
                    </tr>
                    </thead>
                    <tbody id="group_one">
                    </tbody>
                </table>
                <div id="r_4">
                    <button class="a_1" type="button" id="firstPage">首 页</button>
                    <button class="a_1"  type="button" id="prePage">上一页</button>
                    <button class="a_1" type="button" id="nextPage">下一页</button>
                    <button class="a_1" type="button" id="lastPage">末 页</button>
                    第<h id="currentPage" class="a_1" ></h>页/共<h id="total_page" class="a_1"></h>页
                    &nbsp&nbsp第
                    <input class="a_1" id="aim_page" value="1" style="width:20px"/>&nbsp页
                    <button class="a_1" type="button" id="jump">跳转</button>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
<script>
    //计算天数差的函数，通用
    function  DateDiff(sDate1,  sDate2){    //sDate1和sDate2是2006-12-18格式
        var  aDate,  oDate1,  oDate2,  iDays
        aDate  =  sDate1.split("-")
        oDate1  =  new  Date(aDate[1]  +  '-'  +  aDate[2]  +  '-'  +  aDate[0])    //转换为12-18-2006格式
        aDate  =  sDate2.split("-")
        oDate2  =  new  Date(aDate[1]  +  '-'  +  aDate[2]  +  '-'  +  aDate[0])
        iDays  =  parseInt(Math.abs(oDate1  -  oDate2)  /  1000  /  60  /  60  /24)    //把相差的毫秒数转换为天数
        return  iDays
    }
    //用于取路径上面传过来的值
    $.getUrlParam = function getUrlParam(name) {
// 构造一个含有目标参数的正则表达式对象
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
// 匹配目标参数
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);;
        return null; // 返回参数值
    };
</script>
</html>