* {
    font-size: 26px;
    margin: 0 auto;
    padding: 0px;
}

/*主题*/
#c {
    width: 100%;
    height: 700px;
    margin: 5px;
}

/*主页导航栏*/
#head {
    width: 100%;
    height: 14%;
    margin: 5px;
}

#home_head {
    height: 35%;
    background-color: #7ac5cd;
}

#home_head_name {
    margin: 0;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

#logout {
    padding-top: 10px;
    padding-left: 20px;
    float: right;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

#home_search {
    width: 100%;
    height: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 1px;
    padding-left: 0;
    overflow: hidden;
}

ul li {
    float: left;
    height: 50px;
    font-family: 'PMingLiU', sans-serif;
    font-weight: bolder;
}

.s:link,
.s:visited {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.s:hover,
.s:active {
    color: #FFFFFF;
    background-color: #7ac5cd;
}

/*左半部分*/
#l {
    width: 25%;
    height: 86%;
    margin: 5px;
    float: left;
    font-family: 'PMingLiU', sans-serif;
    font-weight: bolder
}

#l1 {
    width: 25%;
    height: 86%;
    margin: 5px;
    float: left;
    font-family: 'PMingLiU', sans-serif;
    font-weight: bolder
}

#l_1 {
    width: 100%;
    height: 25%;
    margin: 5px;
    border: 1px solid #949699
}

#l_1_1 {
    width: 100%;
    height: 15%;
    border: 1px solid #949699;
    background-color: #6a6e77;
    line-height: 50%;
    letter-spacing: 1px;
}

#l_1_2, #l_2_2 {
    width: 97%;
    height: 40%;
    margin-top: 10px;
    font-size: 1em
}

#l_1_3 {
    width: 97%;
    height: 40%;
    margin-top: 1px;
}

#l_1_1_1, #l_2_1_1, #r_1_1_1 {
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
    font-size: 17px;
    color: white;
    text-align: left;
}

#r_1_1_1 {
    margin-left: 30%;
    width: 10%;
    height: 70%;
    vertical-align: center
}

#r_1_1_1 {
    margin-left: 1px;
    width: 10%;
    height: 70%;
    vertical-align: center
}

#l_2 {
    width: 100%;
    height: 40%;
    margin: 5px;
    border: 1px solid #949699;
}

#l_2_1 {
    width: 100%;
    height: 15%;
    border: 1px solid #949699;
    background-color: #6a6e77;
    line-height: 50%;
    letter-spacing: 1px;
}

#l_1_2_2 {
    color: #53868B;
    text-decoration: none;
    text-indent: 3em;
}

#l_2_2_3 {
    color: #53868B;
    text-decoration: none;
    text-indent: 1em;
}

.l_select {
    font-size: 0.6em;
    color: black
}

#l_1_2_1 {
    font-size: 0.7em
}

/*右半部分*/
#r_1_1 {
    width: 100%;
    height: 5%;
    border: 1px solid #949699;
    background-color: #6a6e77;
    line-height: 50%;
    letter-spacing: 1px;
}

#r_1_2 {
    width: 95%;
    height: 80%;
}

.t_row_0 {
    font-size: 0.7em;
    text-align: center;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

.t_row_2 {
    font-size: 0.6em;
    text-align: center;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

.time {
    text-align: center;
    font-size: 0.5em;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

#r, r1 {
    width: 70%;
    height: 100%;
    margin: 5px;
    float: left;
}

#r_1 {
    width: 100%;
    height: 95%;
    margin: 5px;
    border: 1px solid #949699
}

.time_1 {
    text-align: center;
    font-size: 0.7em;
    line-height: 40px;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

#search_1 {
    background-color: #7AC5CD;
    width: 5%;
    color: white;
    font-size: 0.5em;
    height: auto;
    border: #7AC5CD;
    border-radius: 8px;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

.list {
    text-decoration: none;
    font-size: 1em;
    color: #1b0d3d
}

/*分数div*/
#g {
    position: absolute;
    left: 26.3%;
    width: 70%;
    height: 100%;
    margin: 5px;
    float: left;
    top: 17.5%;
    display: none
}

#g_1_1 {
    width: 100%;
    height: 5%;
    border: 1px solid #949699;
    background-color: #6a6e77;
    line-height: 50%;
    letter-spacing: 1px;
}

#g_1_1_1 {
    font-family: 'PMingLiU', sans-serif;
    font-size: 17px;
    color: white;
    text-align: left;
}

#g_1_2 {
    width: 95%;
    height: 80%;
}

#g_1 {
    width: 100%;
    height: 95%;
    margin: 5px;
    border: 1px solid #949699
}

#search_2 {
    background-color: #7ac5cd;
    width: 5%;
    color: white;
    font-size: 0.5em;
    height: auto;
    border: #7AC5CD;
    border-radius: 8px;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

#r_4 {
    width: auto;
    height: auto;
    text-align: right;
    font-size: medium;
    font-weight: bold;
}

.a_1 {
    width: auto;
    font-size: medium;
    font-weight: bold;
    height: auto
}