* {
    font-family: 'PMingLiU', sans-serif;
    font-weight: bolder;
    font-size: 20px
}

/*顶部*/
.top {
    width: 100%;
    height: 15%;
    /*位置固定*/
    position: absolute;
    background: #f5f5f5;
    z-index: 0;
}

.hr_1 {
    width: 100%;
    top: 15%;
    border: none; /*无边框*/
    border-top: 1px solid #9ac9e7; /*粗细，实线，颜色*/
    position: absolute;
    z-index: 1;
}

#logo {
    margin-left: 15px;
    float: left;
    width: 130px;
    height: 80px;
    /*border: 1px solid #b31b1b;*/
}

#logo_name {
    margin-left: 15px;
    float: left;
    width: 500px;
    height: 80px;
    line-height: 90px;
}

#logo_name_t {
    margin: 0 auto;
    font-size: 40px;
}

#login_zy {
    float: left;
    position: absolute;
    bottom: 10px;
    right: 100px;
}

#login_zy_t {
    color: #999898;
    margin: 0 auto;
    font-size: 16px;
}

/*中部*/
.center {
    margin-top: 10%;
    width: 100%;
    height: 70%;
    /*位置固定*/
    border-radius: 5px;
    position: absolute;
    background: #ffffff;
    z-index: 0;
    /*border: 1px solid #b31b1b;*/
}

#center_img {
    margin-top: 15px;
    margin-left: 7%;
    float: left;
    width: 50%;
    height: 350px;
    /*border: 1px solid #b31b1b;*/
}

#messgge {
    margin-top: 10px;
    margin-left: 8%;
    float: left;
    width: 15%;
    height: 350px;
}

#title {
    width: 350px;
    height: 60px;
    background-color: #7ac5cd;
    text-align: center;
    line-height: 60px;
    border: 0.5px solid #7ac5cd;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#title_t {
    color: #ffffff;
    font-size: 30px;
}

#form_1 {
    width: 350px;
    height: 320px;
    border: 0.5px solid #1b0d3d;
    text-align: center;
    line-height: 20px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#sumit_1 {
    width: 100px;
    height: 40px;
    background-color: #7ac5cd;
    border-radius: 8px;
    border: 0.5px solid #7ac5cd;
    color: white;
    font-size: 20px;
}

#foget_psw {
    color: #1b0d3d;
    font-size: 13px;
}
