* {
    font-size: 26px;
    margin: 0 auto;
    padding: 0px;
}

#c {
    width: 100%;
    height: 700px;
    margin: 5px;
}

#head {
    width: 100%;
    height: 14%;
    margin: 5px;
}

#home_head {
    width: 100%;
    height: 35%;
    background-color: #7AC5CD;
}

#home_head_name {
    margin: 0;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bolder;
    font-family:  'PMingLiU', sans-serif;
}

#logout {
    padding-top: 10px;
    padding-left: 20px;
    float: right;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bolder;
    font-family: 'PMingLiU', sans-serif;
}

#home_search {
    width: 100%;
    height: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 1px;
    padding-left: 0;
    overflow: hidden;
}

ul li {
    float: left;
    height: 50px;
    font-family:  'PMingLiU', sans-serif;
    font-weight: bolder;
}

.s:link,
.s:visited {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

.s:hover,
.s:active {
    color: #FFFFFF;
    background-color: #7AC5CD;
}

#l {
    width: 15%;
    height: 86%;
    margin: 5px;
    float: left;
    font-family:  'PMingLiU', sans-serif;
    font-weight: bolder;
}

#l_1 {
    width: 100%;
    height: 40%;
    margin: 5px;
    border: 1px solid #949699
}

#l_1_1 {
    width: 100%;
    height: 10%;
    border: 1px solid #949699;
    background-color: #6a6e77;
    line-height: 50%;
    letter-spacing: 1px;
}

#l_1_2 {
    width: 97%;
    height: 40%;
    margin-top: 10px;
    font-size: 1em
}

#l_1_3 {
    width: 97%;
    height: 40%;
    margin-top: 1px;
}

#l_1_1_1, #r_1_1_1, #r_2_1_1 {
    font-weight: bolder;
    font-family:  'PMingLiU', sans-serif;
    font-size: 17px;
    color: white;
    text-align: left;
}

#l_1_1_2, #r_2_1_1 {
    margin-left: 30%;
    width: 10%;
    height: 70%;
    vertical-align: center
}

#l_1_1_3, #r_2_1_1 {
    margin-left: 1px;
    width: 10%;
    height: 70%;
    vertical-align: center
}

#l_2 {
    width: 100%;
    height: 40%;
    margin: 5px;
    border: 1px solid #949699;
}

#l_1_2_2, #l_1_3_2 {
    color: #53868B;
    text-decoration: none;
    text-indent: 1em;
}

.l_select {
    font-size: 0.5em;
    text-decoration: none
}

.l_select_1 {
    font-size: 0.9em;
    text-decoration: none
}

#l_1_2_1, #l_1_3_1 {
    font-size: 0.5em
}

#r_1_1 {
    width: 100%;
    height: 5%;
    border: 1px solid #949699;
    background-color: #6a6e77;
    line-height: 50%;
    letter-spacing: 1px;
}

#r_1_2 {
    width: 95%;
    height: 14%;
    line-height: 100%
}

#r_1_3 {
    width: 95%;
    height: 75%;
}

#r_4 {
    width: auto;
    height: auto;
    text-align: right;
    font-size: medium;
    font-weight: bold;
}

td {
    width: 1%;
    height: 30px;
    font-size: 0.6em;
    font-weight: bold
}

.time {
    font-weight: bold;
    text-align: center;
    font-size: 0.6em
}

.color_1 {
    font-weight: normal;
    text-align: center;
    font-size: 0.5em;
    background-color: white
}

.t_row_1 {
    text-align: center;
    font-size: 0.5em
}

.t_row_3 {
    text-align: center;
    font-size: 0.5em;
    color: red;
    font-weight: bold
}

.t_row_2 {
    text-align: center;
    font-size: 0.5em;
    font-weight: normal
}

#r {
    width: 80%;
    height: 100%;
    margin: 5px;
    float: left;
}

.a_1 {
    width: auto;
    font-size: medium;
    font-weight: bold;
    height: auto
}

#r_1 {
    width: 100%;
    height: 95%;
    margin: 5px;
    border: 1px solid #949699
}

#classroom_number {
    font-size: 0.5em;
    color: #1b0d3d;
}

#search {
    background-color: #7AC5CD;
    width: 5%;
    color: white;
    font-size: 0.5em;
    height: 25%;
    border: #7AC5CD;
    border-radius: 8px;
    font-weight: bolder;
    font-family:  'PMingLiU', sans-serif;
}

.b_1 {
    font-size: 1px;
    font-weight: normal;
    text-align: right
}

