<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的课程</title>
    <link rel="stylesheet" href="../css/Award.css" type="text/css">
    <script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../js/Award.js"></script>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <script>
       window.onload=function () {

           search_course();
           var json={
               Id:$.getUrlParam("id")
           };
           $.ajax({
               type: "post",
               url: "/student/award",
               dataType: "json",
               data:JSON.stringify(json),
               contentType: "application/json",
               success: function (data, status) {
                   console.log(data.data);
                   AwardData=data.data;
                   auto_create_table_grade(data.data);
               }
           });
       }
    </script>
</head>
<body>

<div id="c" class="">
    <div id="head">
        <div id="home_head">
            <p id="home_head_name" th:text="${id}"></p>
        </div>
        <div>
            <ul>
                <li><img src="../images/logo.png" height="50px" style="padding: 2px;"></li>
                <li><a class="s" th:href="${home}">主页</a></li>
                <li><a class="s" th:href="${course}">课程</a></li>
                <li><a class="s" th:href="${select_course}">选课系统</a></li>
                <li><a class="s" th:href="${Classroom}">教室资源</a></li>
                <li><a class="s" th:href="${Project}">项目管理</a></li>
                <li><a class="s" th:href="${Award}">奖学金申请</a></li>
                <li><a class="s" th:href="${Information}">个人信息</a></li>
            </ul>
        </div>

    </div>
    <hr>
    <div id="l"  class="">
        <div id="l_1"  class="">
            <div id="l_1_1" class="">
                &nbsp
                <b id="l_1_1_1">奖学金流程</b>

            </div>
            <div id="l_1_2" class="">
                &nbsp
                <u id="l_1_2_2">
                    <hr>
                    <li ><a href="#" onclick="search_course();" class="l_select" >申请</a></li><hr>
                    <li><a href="#"  onclick="load_grade();"  class="l_select">已申请奖学金</a></li><hr>
                </u>
            </div>
            <div id="l_1_3" class="">
            </div>
        </div>

    </div>
    <div id="r"  class="" >
        <div id="r_1"  class="">
            <div id="r_1_1" class="">
                &nbsp
                <b id="r_1_1_1">奖学金</b>
            </div>
            <div id="r_1_2" class="">
                <table id="award" width="100%" border="1"  cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                    <caption><strong class="t_row_0">2019奖学金列表</strong></caption>
                    <thead>
                    <tr>
                        <td class="time_1">编号</td><td class="time_1">奖学金名称</td>
                        <td class="time_1">金额</td>
                        <td class="time_1">要求</td><td class="time_1">比例</td>
                        <td class="time_1">操作</td>
                    </tr>
                    </thead>
                    <tbody id="group_one">
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <div id="g"  class="" >
        <div id="g_1"  class="">
            <div id="g_1_1" class="">
                &nbsp
                <b id="g_1_1_1">已申请奖学金</b>
            </div>
            <div id="g_1_2" class="">
                <table id="g_courseTable" width="100%"  border="1"  cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                    <caption><strong class="t_row_0">2019软件工程已申请奖学金</strong></caption>
                    <thead>
                    <tr>
                        <td class="time_1" id="aw_number">编号</td><td class="time_1">奖学金名称</td>
                        <td class="time_1">金额</td>  <td class="time_1">时间</td>
                        <td class="time_1">状态</td>
                    </tr>
                    </thead>
                    <tbody id="g_group_one">
                    </tbody>
                </table>
                <div id="r_4">
                    <button class="a_1" type="button" id="firstPage">首 页</button>
                    <button class="a_1"  type="button" id="prePage">上一页</button>
                    <button class="a_1" type="button" id="nextPage">下一页</button>
                    <button class="a_1" type="button" id="lastPage">末 页</button>
                    第<h id="currentPage" class="a_1" ></h>页/共<h id="total_page" class="a_1"></h>页
                    &nbsp&nbsp第
                    <input class="a_1" id="aim_page" value="1" style="width:20px"/>&nbsp页
                    <button class="a_1" type="button" id="jump">跳转</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="apply_classroom" class="easyui-window" title="Window Layout" data-options="iconCls:'icon-save' ,closed:true ,resizable:true" style="width:500px;height:600px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" style="width:100%;padding:30px 60px;height: 600px">
            <form id="apply_cr" class="easyui-form" method="post" data-options="novalidate:true" style="font-size: medium;height: 600px" >
                <div style="margin-bottom:20px">
                    <input id="AwardNum" class="easyui-textbox"  label="奖学金编号:" style="width:80%" panelHeight="100" required="true"  reversed="true" labelWidth="150"/>

                </div>
                <div style="margin-bottom:20px">
                    <input id="AwardName" class="easyui-textbox"  label="奖学金名字:" style="width:80%" panelHeight="100" required="true"  reversed="true" labelWidth="150"/>

                </div>
                <div style="margin-bottom:20px">
                    <input id="content" class="easyui-textbox"  label="奖学金金额" style="width:80%" panelHeight="100" required="true"  reversed="true" labelWidth="150"/>

                </div>
                <div style="margin-bottom:20px">
                    <input id="stuId"class="easyui-textbox" label="学号:" style="width:80%" panelHeight="100" required="true"   reversed="true" labelWidth="150"/>

                </div>
                <div style="margin-bottom:20px;" >
                    <input id="descript" class="easyui-textbox"  label="申请理由:" style="width:80%" panelHeight="100" required="true"   reversed="true" labelWidth="150"/>
                </div>
            </form>

        </div>
        <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0;">
            <div style="margin-top: 50px">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="open_w();" style="width:80px">Ok</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="close_w()" style="width:80px">Cancel</a>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    function open_w(){
        var date=new Date();
        var month=date.getMonth()
        var month=parseInt(month)+1;
        var json = {stuId:$.getUrlParam("id"),time:date.getFullYear()+"-"+month+"-"+date.getDate(), awardName: AwardName,descript:$("#descript").val()
        };
        console.log(json);
        $.ajax({
            type: "post",
            url: "/student/insertAward",
            data:JSON.stringify(json),
            dataType: "json",
            contentType:"application/json",
            success:function (data,status) {
                if(data.check){
                    alert("提交成功");
                }

            }
        });
        $("#apply_classroom").window('close');
    }
    function close_w(){

        $("#apply_classroom").window('close');
    }




    //用于取路径上面传过来的值
    $.getUrlParam = function getUrlParam(name) {
// 构造一个含有目标参数的正则表达式对象
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
// 匹配目标参数
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);;
        return null; // 返回参数值
    };
</script>
</html>