<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到学生信息管理系统!</title>
    <link rel="stylesheet" type="text/css" href="../css/layout_home.css">
    <script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../js/config.js"></script>
    <script src="../js/home.js"></script>
    <!--此处还可插入其他meta、样式单等信息-->
    <script>
        window.onload = function() {
            this.tableSchemasFunction();
        }
    </script>
</head>

<body>
<script>

</script>
<span > </span>
    <div id="home_head">
        <p id="home_head_name" th:text="${id}">1234</p>
    </div>
    <div>
        <ul>
            <li><img src="../images/logo1.png" height="40px" style="padding: 2px;margin-left:10px;"></li>
            <li><a class="s" th:href="${home}">主页</a></li>
            <li><a class="s" th:href="${course}">课程</a></li>
            <li><a class="s" th:href="${select_course}">选课系统</a></li>
            <li><a class="s" th:href="${Classroom}">教室资源</a></li>
            <li><a class="s" th:href="${Project}">项目管理</a></li>
            <li><a class="s" th:href="${Award}">奖学金申请</a></li>
            <li><a class="s" th:href="${Information}">个人信息</a></li>
        </ul>
    </div>
    <div style="width: 100%;">
        <img src="../images/home_display1.jpg" style="width: 100%;" />
    </div>
    <div style="padding-top: 15px; width: 100%;">
        <div id="home_schedule" style="width: 34%;">
            <div>
                <fieldset style="width: 100%;">
                    <legend style="font-size: 20px;padding-bottom: 2px;"><b>Today's Schedule</b></legend>
                    <table id="home_table_schedule" style="width: 100%;text-align: center; border-collapse:collapse;" border="2">
                        <tr>
                            <th>NO</th>
                            <th>Lecture</th>
                            <th>Time</th>
                            <th>Room</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                    </table>
                </fieldset>
            </div>

            <div style="padding-top: 15px;">
                <fieldset style="width: 100%; ">
                    <legend style="font-size: 20px;padding-bottom: 2px;"><b>Course Message</b></legend>
                    <table  style="width: 100%;text-align: center;" border="1">
                        <tr>
                            <th>NO</th>
                            <th>Lecture</th>
                            <th>Time</th>
                            <th>Room</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Data Base System</td>
                            <td><time>14:10</time>-<time>16:00</time></td>
                            <td>YF708</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="home_news" style="width: 60%; padding-left: 4%;">
            <fieldset style="width: 100%;">
                <legend style="font-size: 20px;padding-bottom: 2px;"><b>Today's News</b></legend>
                <div style="float: left; padding:5px ;width: 100%;">
                    <img src="../images/5.png" height="120px" style="float: left;">
                    <div style="padding-left: 8px; float: left; line-height: 15px;">
                        <p style="font-size: 20px;">College News</p>
                        <p>ssssss College News</p>
                    </div>
                </div>
                <div style="float: left; padding:5px ;width: 100%;">
                    <img src="../images/6.png" height="120px" style="float: left;">
                    <div style="padding-left: 8px; float: left; line-height: 15px;">
                        <p style="font-size: 20px;">College News</p>
                        <p>ssssss College News</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</body>

</html>