<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统</title>
    <script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>

</head>
<body>
<!-- 顶部开始-->

<div class="top">
    <div id="logo"><img src="../images/logo1.png" alt="logo" width="130px" height="80px"></div>
    <div id="logo_name"><b id="logo_name_t">学生信息管理系统</b></div>
    <div id="login_zy"><p id="login_zy_t">登陆主页</p></div>
</div>
<hr class="hr_1">
<!-- 顶部结束-->
<!-- 中部开始-->
<div class="center">

    <div id="center_img"><img src="../images/4.png" alt="中间图片" width="570px" height="380px"></div>
    <div id="messgge">
        <div id="title"><b id="title_t">校园信息门户</b></div>

        <div id="form_1">
            <form name="Person" height="350" width="400" onsubmit="return onSmText();">
                <br> <br>
                用户名:&nbsp<input id="user" type="text"
                           style="font-family: 'Microsoft YaHei';font-size: 15px;font-weight: normal">&nbsp&nbsp<b
                    id="tip_1" style="display: none;font-size: 20px;color: #b31b1b">必填</b> <br><br>
                密&nbsp&nbsp&nbsp码:&nbsp<input id="psw" type="password"
                                         style="font-family: 'Microsoft YaHei';font-size: 15px;font-weight: normal">&nbsp&nbsp<b
                    id="tip_2" style="display: none;font-size: 20px;color: #b31b1b">必填</b>
                <br><br>
                身份:&nbsp<input type="radio" name="a" value="manager">管理员
                <input type="radio" name="a" value="teacher">教师
                <input type="radio" name="a" value="student">学生
                <br><b id="tip_3" style="display: none;font-size: 20px;color: #b31b1b">必选</b><br></br></br>
                <input type="submit" value="登  陆" id="sumit_1">&nbsp&nbsp&nbsp
                <a href="#" style="text-decoration:none;"><b id="foget_psw" onclick="p();">忘记密码？</b></a>
                </br>
            </form>
        </div>
    </div>
</div>

<div id="apply_classroom" class="easyui-window" title="Window Layout"
     data-options="iconCls:'icon-save' ,closed:true ,resizable:true" style="width:400px;height:300px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" style="width:100%;padding:30px 60px;height: 600px">
            <form id="apply_cr" class="easyui-form" method="post" data-options="novalidate:true"
                  style="font-size: medium;height:auto">
                <div style="margin-bottom:20px">
                    <input id="stuId" class="easyui-textbox" label="学号:" style="width:90%" panelHeight="100"
                           required="true" reversed="true"/>

                </div>
                <div style="margin-bottom:20px">
                    <input id="p" class="easyui-passwordbox" label="新密码:" style="width:90%" panelHeight="100"
                           required="true" reversed="true"/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="email" class="easyui-textbox" name="email" style="width:100%;suffix:'@"
                           data-options="label:'邮箱:',required:true,validType:'email',">
                </div>
            </form>
        </div>
        <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0;">
            <div style="margin-top: 50px">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)"
                   onclick="open_w();" style="width:80px">Ok</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)"
                   onclick="close_w()" style="width:80px">Cancel</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function p() {
        $("#apply_classroom").window('open');

    }

    function open_w() {
        //传参
        var json = {name: user.val(), psw: psw.val(), person: person.val()};
        $.ajax({
            type: "post",
            url: "/email",
            data: JSON.stringify(json),
            dataType: "json",
            contentType: "application/json",
            success: function (data, status) {
                var yzm = data.data[0].yzm;
                $("#apply_classroom").window('close');

                var yzm1 = prompt("请输入验证码");
                if (yzm1 == yzm) {
                    alert("修改成功")
                } else {
                    alert("修改失败");
                }

            }
        });


    }

    function close_w() {
        $("#apply_classroom").window('close');
    }

    //提交
    function onSmText() {
        var tip_1 = $("#tip_1");
        var tip_2 = $("#tip_2");
        var tip_3 = $("#tip_3");
        var user = $("#user");
        var psw = $("#psw");
        var person = $("input[name='a']:checked");
        var tag = 0;
        tip_1.css("display", "none");
        tip_2.css("display", "none")
        tip_3.css("display", "none")
        if (user.val() == "") {
            tip_1.css("display", "inline");
            tag = 1;
        }
        if (psw.val() == "") {
            tip_2.css("display", "inline");
            tag = 1;
        }
        if (person.val() == null) {
            tip_3.css("display", "inline");
            tag = 1;
        }
        if (tag == 1) {
            return false;
        } else {
            var json = {name: user.val(), psw: psw.val(), person: person.val()};
            //提交登陆信息并且验证
            $.ajax({
                type: "post",
                url: "/login/check",
                data: JSON.stringify(json),
                dataType: "json",
                contentType: "application/json",
                success: function (data, status) {
                    if ("true" == data.check) {//验证成功 跳转
                        if (person.val() == "student") {
                            window.location.href = "/Home?id=" + user.val() + "&type=" + person.val();
                        } else if (person.val() == "teacher") {
                            window.location.href = "/Teacher/Home?id=" + user.val() + "&type=" + person.val();
                        } else if (person.val() == "manager") {
                            window.location.href = "/A_Home?id=" + user.val() + "&type=" + person.val();
                        }
                    } else {
                        alert("用户不存在或者密码错误");
                    }
                }
            });
            return false;
        }
    }
</script>